html {
    background: #f2f2f2 ;
}

.title {
    color: #555555;
    font-family: Roboto, serif;
    font-size: 25px;
    text-align: center;
}

p {
    margin: 15px 150px;
    font-family: Roboto, serif;
    font-size: 18px;
    color: dimgray;
}

.input-field {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 20px;
}

.input-label {
    font-family: Roboto, serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.input-field::-webkit-input-placeholder {
    color:#cccccc;
    font-family: Roboto, serif;
    font-size: 14px;
    padding: 5px;
}

.btn-login {
    font-family: Roboto, serif;
    font-size: 14px;
    color: #cccccc;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 25px;
    border: 0px;
    border-radius: 2px;
}

.btn-login:hover {
    background: #555555;
    color: #cccccc;
}

span:hover {
    color: black;
}


.wrap {
    width: 980px;
    margin: 0 auto;
    text-align: center;
}

column1,
column2 {
    display: inline-block;
    vertical-align: top;
    width: 350px;
}
